body {
	background: #3498db;
}

._login-row {
	background: #2980b9;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 100px;
}
._login-holder {
	max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}
	._login-holder h1 {
		font-size: 30px;
		text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
		color: #fff;
		float: left;
		margin-top: 0;
		font-weight: 600;
	}
	._login-holder h2 {
		color: #fff;
		margin-top: 8px;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 22px;
		float: right;
		vertical-align: bottom;
	}
	._login-holder input {
		background: #125988;
		border: none;
		border-radius: 3px;
		margin-bottom: 5px;
		color: #fff !important;
		font-weight: 400;
	}
	._login-holder input:-webkit-autofill, ._login-holder textarea:-webkit-autofill, ._login-holder select:-webkit-autofill {
		color: #fff !important;
		-webkit-text-fill-color: #fff !important;
	    -webkit-box-shadow: 0 0 0px 1000px #125988 inset;
	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		transition: background-color ease-in-out 0s;
	}
	._login-holder ::-webkit-input-placeholder {
    	color: rgba(255,255,255,1);
    	font-size: 11px;
    	padding-top: 2px;
    	text-transform: uppercase;
	}
	._login-holder :-moz-placeholder {
    	color: rgba(255,255,255,1);
    	font-weight: 400;
	}
	._login-holder ::-moz-placeholder {
    	color: rgba(255,255,255,1);
    	font-weight: 400;
	}
	._login-holder :-ms-input-placeholder {
    	color: rgba(255,255,255,1);
    	font-weight: 400;
	}
	._login-holder button,
	._login-holder button:focus {
		background: #3498DB;
		border-color: #2e6da4;
		font-weight: 600;
	}
	._login-holder button:hover,
	._login-holder button:active {
		background: #47A0DC !important;
		border-color: #2e6da4;
		box-shadow: none;
	}